/* Estilos para o layout do catálogo */

:root {
    --primary-color: #0f3d4c;
    --secondary-color: #f0f0f0;
    --font-sans-serif: sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #d2e3e8;
    margin: 25px;
    background-image: url("../img/10078817.png");
    background-size: cover;
}





.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #0f3d4c;
    width: auto;
    height: 80px;
    border-radius: 6px 6px 10px 10px;
    margin-bottom: 25px;
}

.logo-img {
    width: auto;
    height: 80px;
    margin-right: 40px;
    border-radius: 6px 0 0 6px;
}

.search-bar {
    justify-content: center;
    align-items: center;
    background-color: #0f3d4c;
}

.search-style {
    width: 700px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: large;
    font-family: var(--font-sans-serif);
}

.button-style {
    width: 100px;
    height: 60px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: large;
    font-family: sans-serif;
    background-color: #f0f0f0;
}


.produto {
    color: #000000;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

#user-container div {
    margin-top: 10px;
    background-color: #2ba6b6;
    width: 400px;
    height: 420px;
    border-radius: .5rem;

}

#user-container img {
    width: 380px;
    height: 280px;
    margin: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#user-container h2 {
    margin: 10px;
    text-align: center;
}

#user-container h3 {
    margin: px;
    text-align: center;

}

.mudancaPagina{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    height: 50px;
}

.mudancaPagina button {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: large;
    font-family: sans-serif;
    background-color: #efebeb;
}

.mudancaPagina button:hover {
    background-color: #0f3d4c;
    color: #f0f0f0;
}

.mudancaPagina select {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: large;
    font-family: var(--font-sans-serif);
    background-color: #f0f0f0;
}